/* ---- IMPORT FONT ---- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ---- COLOR VALUES ---- */
:root {
    --white: #fff;
    --bgone: #671B2B;
    --bgtwo: #121B4A;
    --grey: #B1B1B1;
}

/* ---- INIT STYLES ---- */
body {
    font-family: 'Poppins';
}

main>.wp-block-group {
    margin-bottom: 120px;
}

/* ---- TYPO ---- */
h1.wp-block-heading,
h2,
.page-title {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5rem;
    margin-bottom: 30px;
}

h1.wp-block-heading {
    max-width: 645px;
}

.page-title {
    margin-bottom: 60px;
}

h4 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
}

/* ---- HERO NEWEST GAME ---- */
.hero-game {
    position: relative;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 34px 10px rgba(255, 255, 255, 0.12);
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 120px;
}

.hero-game .wp-block-latest-posts__featured-image img {
    display: block;
    width: 100%;
    max-height: 832px;
    object-fit: cover;
}

.hero-game .hero-card {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: rgba(145, 145, 145, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(11px);
    /* Note: backdrop-filter has minimal browser support */
    padding: 35px 50px;
    border-radius: 30px;
    text-align: left;
    max-width: 450px;
    overflow: hidden;
}

.hero-game .hero-card .wp-block-latest-posts__post-title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 20px;
}

.hero-game .hero-card .wp-block-latest-posts__post-excerpt {
    margin-bottom: 40px;
}


/* ---- SERVICES & ABOUT GAME ---- */
.services {
    max-width: 1200px;
}

.services .service-card,
.about-game-card {
    padding: 50px 30px;
    background: rgba(96, 96, 96, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 34px 10px rgba(255, 255, 255, 0.12);
    border-radius: 33px;
    text-align: left;
    overflow: hidden;
}

.about-game-card {
    min-width: 30%;
}

.services .service-card>.wp-block-group__inner-container,
.about-game-card>.wp-block-group__inner-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 24px;
}

.about-game-card>.wp-block-group__inner-container>.wp-block-group {
    justify-content: space-between;
    gap: 50px;
}

.services .service-card>.wp-block-group__inner-container p {
    margin-bottom: 24px;
}

.services .wp-block-buttons {
    margin-top: auto;
    justify-content: center;
}

.services .services-container>.wp-block-group__inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

/* ---- BUTTONS ---- */
a.wp-block-button__link,
.wpcf7-form .wpcf7-submit {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    display: inline-block;
    width: fit-content;
    background: rgba(17, 17, 17, 0.5);
    border-radius: 12px;
    padding: 12px 20px;
    transition: all 0.3s ease;
    color: var(--white);
    box-shadow: none;
    outline: none;
    border: none;
}

.wp-block-button__link:hover,
.wpcf7-form .wpcf7-submit:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}


/* ---- IFRAME YOUTUBE VIDEO ---- */
.wp-block-embed__wrapper,
.wp-block-embed {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}

.wp-block-embed .wp-block-embed__wrapper iframe {
    width: 100%;
    height: 100%;
}

.wp-block-embed .wp-block-embed__wrapper {
    overflow: hidden;
    border-radius: 33px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 34px 10px rgba(255, 255, 255, 0.12);
}



/*
* Responsive Styles: 1280px and below
*/
@media screen and (max-width: 1280px) {

    /* Hero Game */
    .hero-game {
        margin-bottom: 64px;
    }

    .hero-game .hero-card {
        padding: 1rem 2rem;
        max-width: calc(100% - 60px);
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-game .hero-card .wp-block-latest-posts__post-title {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 8px;
    }

    .hero-game .hero-card .wp-block-latest-posts__post-excerpt {
        margin-top: 0px;
        margin-bottom: 24px;
        font-size: 1rem;
    }

    /* Services */
    .services .services-container>.wp-block-group__inner-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .services .service-card,
    .about-game-card {
        padding: 32px 24px;
    }

    .services .service-card>.wp-block-group__inner-container,
    .about-game-card>.wp-block-group__inner-container {
        gap: 16px;
    }

}



/*
* Responsive Styles: 800px and below
*/
@media screen and (max-width: 800px) {

    /* Hero */
    .hero-game .hero-card {
        align-items: center;
    }

    .hero-game .hero-card .wp-block-latest-posts__post-excerpt {
        display: none;
    }

}


/*
* Responsive Styles: 550px and below
*/
@media screen and (max-width: 550px) {

    /* wordpress blocks */
    main>.wp-block-group {
        margin-bottom: 60px;
    }

    /* Services */
    .services .services-container>.wp-block-group__inner-container {
        grid-template-columns: repeat(1, 1fr);
    }
}